body {
	margin: 0;
	background-color: #282828;
}

#connectionForm {
	display: block;
	text-align: center;
	margin-top: 2rem;
	font-size: 1.5rem;
	line-height: 1.5rem;
	height: 1.5rem;
	color: white;
}

label {
	vertical-align: middle;
	padding: 4px;
}

input {
	width: 10rem;
	height: 100%;
	padding: 4px;
	box-sizing: border-box;
}

button {
	height: 100%;
	padding: 4px;
	cursor: pointer;
	border: 0;
}

#gameGrid {
	width: 100%;
	height: 96vh;
	margin-top: 2vh;
	display: none;
	grid-template-rows: 5% minmax(0, 1fr) 5%;
	grid-template-columns: 10% minmax(0, 1fr) 10%;
	grid-gap: 1rem;
	/* background-color: rgba(0.97, 0.97, 0.97, 0.1); */
}

#nameArea {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	display: flex;
}

.player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	height: 100%;
	text-align: center;
	font-size: 2vmin;
	font-weight: bold;
	font-family: monospace;
	text-transform: uppercase;
	color: white;

}

#PLAYER1 {
	background-color: rgb(202 31 31);
}

#PLAYER2 {
	background-color: rgb(31 99 202);
}

#gameCanvas {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin: 0;
	padding: 0;
	background-color: #999999;
}